<div class = "all">

<h1>Uploads</h1>
  <div class = "new_img">
  <%= link_to 'Add New Photo', new_photo_path %>
  </div>

<table>
<tbody>
<div class = "border">
    <% @photos.each do |photo| %>
      <tr>
        <td><%= 'Caption: ' + photo.caption %></td>
        <td><%= image_tag photo.avatar.url(:medium) %></td>
        <td class = "likes">You have <%= photo.get_likes.size %> like</td>
        <td class = "like-ones"><i class="fa fa-thumbs-o-up"><%= link_to '+1', positive_photo_path(photo)%></i> </td>
        <td class = "like-ones"><%= link_to '-1', negative_photo_path(photo)%> </td>
        <td class = "deletes"><%= link_to 'Edit', edit_photo_path(photo) %></td>
        <td class = "deletes"><%= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</div>
      </tr>
    <% end %>
    </tbody>
    </table>
    <div class="edit">
    <%= link_to 'Back', photos_path %>
    </div>
</div>