<div class = "all">
<p id="notice"><%= notice %></p>

<h1>Uploads</h1>


  <div class = "new_img">
  <%= link_to 'Add New Photo', new_photo_path %>
  </div>
  <table>
  <tbody>
 <div class = "border">
    <% @photos.each do |photo| %>
      <tr>
        <td><%= 'Caption: ' + photo.caption %></td>
        <td><%= image_tag photo.avatar.url(:medium) %></td>
        <%#<td><%= link_to 'Show', photo %>
        <td>You have <%= photo.get_likes.size %> like</td>
          <td> <%= render 'star', id: photo.id %> </td>
        <td><%= photo.find_votes_for(:vote_scope => 'rank').sum(:vote_weight) %></td>
        <td><%= link_to '+1', positive_photo_path(photo)%> </td>
        <td><%= link_to '-1', negative_photo_path(photo)%> </td>
        <td><%= link_to 'Edit', edit_photo_path(photo) %></td>
        <td><%= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </div>
      </tr>
    <% end %>
    
  </tbody>
</table>


<br>
</div>

