<div class = "all">
<p id="notice"><%= notice %></p>


<%= search_form_for @search do |f| %>
<div class="field">
<%= f.label :caption_cont, "Search Tags" %>
<%= f.text_field :caption_cont %>
</div>
<div class="actions"><%= f.submit "Search" %> </div>
<% end %>
  <table>
  <tbody>
 <div class = "border">
    <% @photos.each do |photo| %>
      <tr>
        <td><%= 'Caption: ' + photo.caption %></td>
        <td><%= image_tag photo.avatar.url(:medium) %></td>
        <%#<td><%= link_to 'Show', photo %>
        <td class = "likes">You have <%= photo.get_likes.size %> like</td>
        <td><%= link_to '+1', positive_photo_path(photo)%> </td>
        <td><%= link_to '-1', negative_photo_path(photo)%> </td>
        
        </div>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="edit">
<%= link_to 'Back', root_path %>
</div>
<br>
</div>

